.morelink {
    background:url(%%buttons%%) 0 -40px!important;
    height:40px;
    line-height:40px;
    border:none;
    font-size:12px;
    letter-spacing:2px;
    text-transform:uppercase;
    font-weight:400;
}
.morelink:hover{
    background:url(%%buttons%%) 0 -80px!important;
}
.morelink:active{
    background:url(%%buttons%%) 0 -120px!important;
}
.morelink a:hover{
    color:#e2ce00;
}
.morelink a:active{
    color:#CBB900;
}
